# Directories
.vs/
bin/
bin-obj/
build/

# VS Files
**.vcxproj**
**.sln

.codelite/
.build-debug/
**.workspace

Makefile

**/**.mk

**/**.project

**/Engine.txt
**/GLAD.txt
**/Sandbox.txt

**/Logs/**
**.ini
!**/default_gui_layout.ini

CMake/
