# Temp directories
.vs/
bin/
bin-obj/
build/
.cache/

# VS Files
**.vcxproj**
**.sln

.codelite/
.build-debug/
.vimspector.json
**.workspace

Makefile

**/**.mk

**/**.project

**/Engine.txt
**/GLAD.txt
**/Sandbox.txt

**/Logs/**
**.ini
!**/default_gui_layout.ini

CMake/

compile_commands.json
