[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/glfw/glfw
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/Light3039/imgui
[submodule "Dependencies/entt"]
	path = Dependencies/entt
	url = https://github.com/skypjack/entt